html,body{
  padding: 0;
  margin: 0;
}

h2{
  margin: 5px;
}

form, table{
  padding: 10px;
}

.header{
  color: rgb(48, 19, 151);
  text-align: center;
}

input:invalid {
  border: 1px solid red;
}
.formInput {
  margin-bottom: 10px;
}

button{
  display: block;
  padding: 10px;
}

#deleteAll_button{
  display: none;
  margin-left: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
